
* {
        box-sizing: border-box;
        white-space: nowrap;
        user-select: none;
}

body {
        background-color: #000000;
        display: flex;
        align-items: center;
        column-gap: 50px;
        padding: 20px;
        margin: 0px;
}

.scoreboard {
        flex: 1;
        display: flex;
        flex-direction: column;
}

h1 {
        font-size: 64px;
        color: #ffffff;
        margin: 0px;
}

.title {
        display: flex;
        column-gap: 50px;
        align-items: center;
}

.highscore {
        font-size: 20px;
        color: #ffffff;
}

.sheet {
        display: flex;
        flex-direction: column;
        border: 2px solid #ffffff;
        transition: 0.25s;
}

.sheet.blocked {
        opacity: 0.7;
}

.sheet.blocked * {
        cursor: not-allowed !important;
}

.sheet .header {
        display: flex;
        background-color: #222222;
        border-bottom: 2px solid #ffffff;
}

.sheet .header .cell {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
}

.sheet .content {
        display: flex;
        flex-direction: column;
}

.sheet .row {
        display: flex;
        column-gap: 10px;
}

.sheet .row + .row {
        border-top: 1px solid #999999;
}

.sheet .row.bonus {
        background-color: rgba(45, 210, 25, 0.15);
}

.sheet .row.total {
        background-color: rgba(204, 187, 34, 0.25);
}

.sheet .row.header.total {
        border-top: 3px dotted #ffffff;
        background-color: rgba(204, 54, 34, 0.25);
}

.sheet .section + .section {
        border-top: 2px solid #999999;
}

.sheet .cell {
        flex: 1 1;
        color: #ffffff;
        padding: 8px;
}

.sheet .row.empty .cell + .cell {
        cursor: pointer;
        transition: 0.25s;
}

.sheet .row.empty .cell + .cell:hover {
        background-color: rgba(255, 255, 255, 0.25);
}

.sheet .cell.null {
        cursor: pointer;
        transition: 0.25s;
        background-color: rgba(255, 20, 80, 0.25);
}

.sheet .cell.null:hover {
        background-color: rgba(255, 20, 80, 0.5);
}

.sheet .cell + .cell {
        border-left: 1px solid #ffffff;
        text-align: center;
        font-weight: 600;
}

.tabletop {
        flex: 1;
        display: flex;
        flex-direction: column;
}

.reroll_count {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        padding: 10px 20px;
}

.play_area {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color: #9a0c20;
        border: 5px solid #790514;
        border-radius: 40px;
        padding: 120px 40px;
}

.patterns {
        height: 24px;
        margin-top: -44px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
}

.roll_area {
        display: flex;
        column-gap: 10px;
}

.dice {
        display: flex;
        justify-content: center;
        align-self: center;
        column-gap: 20px;
}

.die {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
        padding: 10px;
        transition: 0.25s;
}

.die:hover {
        background-color: rgba(0, 0, 0, 0.25);
}

.die .value {
        display: none;
        justify-content: center;
        align-items: center;
}

.die .value.one,
.die .value.two,
.die .value.three,
.die .value.four,
.die .value.five,
.die .value.six {
        display: flex;
        width: 100px;
        height: 100px;
}

.die .value::before {
        font-size: 100px;
        line-height: 100px;
        color: #ffffff;
}

.die .value.one::before {
        content: '\2680';
}

.die .value.two::before {
        content: '\2681';
}

.die .value.three::before {
        content: '\2682';
}

.die .value.four::before {
        content: '\2683';
}

.die .value.five::before {
        content: '\2684';
}

.die .value.six::before {
        content: '\2685';
}

.die .value.one ~ .state,
.die .value.two ~ .state,
.die .value.three ~ .state,
.die .value.four ~ .state,
.die .value.five ~ .state,
.die .value.six ~ .state {
        display: flex;
}

.die .state {
        display: none;
        justify-content: center;
        cursor: pointer;
}

.die .state.keep:hover::before {
        background-color: #000000;
}

.die .state.reroll:hover::before {
        background-color: #ffffff;
}

.die .state::before {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 10px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        color: #000000;
        transition: 0.25s;
}

.die .state.keep::before {
        content: 'KEEP';
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
}

.die .state.reroll::before {
        content: 'RE-ROLL';
}

button.roll {
        align-self: center;
}

button {
        aspect-ratio: 1;
        background: #ffffff;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        color: #000000;
        cursor: pointer;
        transition: 0.25s;
}

button:hover {
        background-color: #dddddd;;
}

button:active {
        background-color: #cccccc;
}

button.restart {
        aspect-ratio: auto;
        background-color: #9a0c20;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
}

.hidden {
        display: none;
}